.App {
  font-family: "Microsoft YaHei Light";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.App-topbar {
  flex: none;
}

.App-board {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.App-sidebar {
  flex: 1 0 auto;
  min-width: max-content;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App-hiddenSideBar {
  display: none;
}

.App-sidebar::-webkit-scrollbar {
  display: none;
}

.App-chat {
  /* flex: auto; */
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
}

.App-hiddenChat {
  display: none;
}
